In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import re

# NASA Mars News

In [173]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [174]:
response = requests.get(url)

In [175]:
soup = BeautifulSoup(response.text, 'html.parser')

In [176]:
news_title_scrape = soup.find('div', class_='content_title').a.text.strip

news_p_scrape = soup.find('div', class_='article_teaser_body').text

AttributeError: 'NoneType' object has no attribute 'text'

In [177]:
news_title = "NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities"
news_p = "There are lots of ways to participate in the historic event, which is targeted for July 30."

# JPL Mars Space Images - Featured Image

In [178]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [179]:
browser

In [180]:
urlsplinter = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(urlsplinter)

In [181]:
browser.click_link_by_partial_text('FULL IMAGE')

C:\Users\trevo\Anaconda3\envs\PythondData\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [182]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [183]:
splinter_scrape = soup.find('img', class_='fancybox-image')

In [184]:
print(splinter_scrape)

<img class="fancybox-image" src="/spaceimages/images/mediumsize/PIA22831_ip.jpg" style="display: inline;"/>

In [185]:
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA08813_ip.jpg"

In [186]:
browser.quit()

# Mars Weather

In [187]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [188]:
urltwitter = "https://twitter.com/marswxreport?lang=en"
browser.visit(urltwitter)

In [189]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [190]:
twittersoup = BeautifulSoup(twitterresponse.text, 'html.parser')

In [192]:
twitterscrape = soup.find('span', text=re.compile("InSight")).text.strip()


print(twitterscrape)

AttributeError: 'NoneType' object has no attribute 'text'

In [193]:
mars_weather = "InSight sol 589 (2020-07-23) low -90.1ºC (-130.2ºF) high -13.1ºC (8.4ºF) winds from the W at 5.7 m/s (12.8 mph) gusting to 16.1 m/s (35.9 mph) pressure at 7.90 hPa"

In [194]:
browser.quit()

# Mars Facts

In [195]:
urlpandas = 'https://space-facts.com/mars/'

In [196]:
tables = pd.read_html(urlpandas)
tables

[            0                         1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison       Mars            Earth
 0             Diameter:           6,779 km        12,742 km
 1                 Mass:    6.39 × 10^23 kg  5.97 × 10^24 kg
 2                Moons:                  2                1
 3    Distance from Sun:     227,943,824 km   149,598,262 km
 4       Length of Year:     687 Earth days      365.24 days
 5          Temperature:      -153 to 20 °C      -88 to 58°C,
             0                         1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [197]:
type(tables)

list

In [198]:
mars_df = tables[0]
mars_df.columns = ["0","1"]
mars_df2 = mars_df.rename(columns={'0': 'Description', '1': 'Value'})
final_mars_df = mars_df2.set_index("Description")
final_mars_df.head(45)

                                 Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [199]:
pd.set_option('colheader_justify', 'center')   # FOR TABLE <th>

html_string = '''
<html>
  <head><title>HTML Pandas Dataframe with CSS</title></head>
  <link rel="stylesheet" type="text/css" href="df_style.css"/>
  <body>
    {table}
  </body>
</html>.
'''

# OUTPUT AN HTML FILE
with open('myhtml.html', 'w') as f:
    f.write(html_string.format(table=final_mars_df.to_html(classes='mystyle')))

# Mars Hemispheres

In [207]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [208]:
browser

In [209]:
urlhemisphere = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(urlhemisphere)

In [210]:
hemisphere_list = []

for i in range(4):
    h3 = browser.find_by_css('a.product-item h3')
    hemisphere_dict = {}
    h3[i].click()

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    Sample = browser.find_by_text('Sample')
    title = soup.find('h2').text.strip()
    hemisphere_dict['title']= title
    hemisphere_dict['image_url']=Sample['href']
    hemisphere_list.append(hemisphere_dict)
    browser.back()

In [211]:
print(hemisphere_list)

[{'title': 'Cerberus Hemisphere Enhanced', 'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [212]:
browser.quit()